@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
    font-family: "Varela Round", sans-serif;
}

#hero, .modal-header {
    background: linear-gradient(135deg, #43cdef 0%, #1f9ed3 75%);
    color: #fff;
}

.modal-header {
    border-radius: 5px 5px 0 0;
}

#hero a {
    color: inherit;
    text-decoration: none;
}

#tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
    padding: 0;
    list-style: none;
}

.tile {
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
}

.tile:hover {
    background-color: #f7f7f7;
}

.modal-dialog {
    max-width: 400px;
}

.modal-footer {
    border-radius: 0 0 5px 5px;
    background-color: #f5f5f5;
    text-align: center;
}

.footer {
  padding: 30px 20px 20px 20px;
  background-color: #f5f5f5;
}